# Sample config file for CredentialFilters python module
#
# Test this file using the credentialfilter cli as follows:
#
# credentialfilter -cf /path/to/this/file/credential_filter.conf \
# 		   -u https://www.example.org/ab/cd/de?q=r2+y=24
#                  -c "login=abc; other_cookie=87A9Er; cloudflare_bot=1305EFA13CB"
#
# Output from the script will be:
#
#  login=abc; Domain=foo.example.com; Path=/; Secure; HttpOnly;
#  cloudflare_bot=1305EFA13CB; Domain=.example.org; Path=/; Secure; HttpOnly;
#
#  script exit code = 2 (means trusted host, can receive
#                         sensitive cookies and sec. credentials))

[trusted_hosts]
host = www.example.org
host = foo.example.com

[trusted_cookie_names]
# trusted cookie
cookie_name = login

[safe_domains]
domain = .example.org

[safe_domain_cookie_names]
cookie_name = cloudflare_bot
